:root{
    --mainColor:#1b62ae;
}

header{
    background-color:var(--mainColor);
}

.lcontainer{
    width:100%;
    margin:3px;
    /*max-width:1200px;*/
}

.lcontainer-flex{
    height:3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list{
    display: flex;
}

.listItem{
    
    margin-left: 3rem;
    color:rgb(249, 243, 243);
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}



.login{
    height:3em;
    margin: 1%;
    display:flex;
    align-content:center;
    padding : 0.2em 2em;
}

.btn{
    height: 2.4em;;
    width:6em;
    border:none;
    background: transparent;
    padding: 6px 16px;
    font-size:1.1rem;
    color:rgb(5, 3, 3);
    background: rgb(251, 247, 247);
    border-radius: 5px;
    transition: 0.3s all ease-out;
    cursor: pointer;
}

.btn:hover{
    color:rgb(14, 13, 13);
    background: linear-gradient(90deg, rgb(173, 189, 223) 50%, rgb(229, 231, 236)100%);
}

.btn:focus{
    color:#000;
    background:linear-gradient(90deg, rgb(173, 189, 223) 50%, rgb(229, 231, 236)100%);
}



/*media queries*/
@media screen and (max-width:768px){
    html{
        font-size: 13px;
    }

    .container-flex{
        flex-direction:column;
    }
    .logo{
        width:150px;
    }
}

@media screen and (max-width:568px){
    html{
        font-size: 11px;
    }
    .list{
        flex-direction:column;
    }

    .listItem{
        margin-top: .2em;
    }


    .logo{
        width:100px;
    }
}